.App{
  display: flex;
  height: calc(100vh - 80px );
}

.hijo{
  width: 33,3%;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.colores{
  display:flex;
}
.color{
  width: 22px;
  height: 22px;
  border-radius: 5px;
  margin: 4px;
  cursor: pointer;
}
.color:nth-child(1){
  background-color:aqua;
}
.color:nth-child(2){
  background-color:rgb(43, 255, 0);
}
.color:nth-child(3){
  background-color:rgb(161, 14, 129);
}
.color:nth-child(4){
  background-color:rgb(212, 233, 20);
}